
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6px 24px 6px 24px;
  width: 100%;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
  }
}


.logo-title {
  color: #154c79;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
}

.in-text {
  color: #76b5c5;
}


.mobile-view-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-and-burger-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.paths-items-and-buttons-container-mobile-view {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
  .mobile-view-container {
    display: none;
  }

}


.desktop-view-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .desktop-view-container {
    display: none;
  }
}

.paths-items-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.btn {
  color: white;
  background-color: #063970;
  border: none;
  padding: 8px 24px 8px 24px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 16px;
}

.playstore-button {
  color: white;
  background-color: black;
  border: none;
  padding: 8px 24px 8px 24px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 20px;
}

